body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f8;
}

.container {
  padding: 20px;
}

h1 {
  text-align: center;
}

.filter {
  text-align: center;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.card {
  background: white;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card span {
  font-size: 20px;
  font-weight: bold;
}

.chart-box {
  width: 80%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.insight {
  text-align: center;
  padding: 15px;
  background: #d1f7d6;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
}

table {
  width: 80%;
  margin: auto;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #333;
  color: white;
}